/* p{
    text-align: center;
    color:rgb(201, 0, 155);
    font-weight: bold;
    text-decoration: none;
    line-height: normal;
    letter-spacing: 2px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;


}
h2{
    text-align: center;
    color: aquamarine;
    background: pink;
    text-decoration: wavy underline;
}
button{

    color: white;
    background: blue;
}
h1{
    color: yellow;
    text-align: center;
    font-weight: bold;
    text-decoration: double  underline;
    text-transform:uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
} */

/* Practice CSS2 */

h3{
    font-family:Cambria;
    background: #fff;
    color: rgb(167, 10, 10);
}
#login{
    background-color: #fff;
}
h1{
    color:rgb(167, 10, 10);
}
#signup{
    color: #fff;
    background: rgb(167, 10, 10);

}
.upvote{
    background: green;
    color: aliceblue;
    
}


div[id="vk"] p{
    color: green;
}

/* Decendent Selector */
.post a{
    color:green;
    background: #000;
}
nav ul li a {
    color: pink;
}