p{
    text-align: center;
    color:rgb(201, 0, 155)


}
h2{
    text-align: center;
    color: aquamarine;
    background: pink;
}
button{

    color: white;
    background: blue;
}
h1{
    color: #000000;
    text-align: center;
}